<!--<h1>Books#edit</h1>-->
<!--<p>Find me in app/views/books/edit.html.erb</p>-->
<h1>Editing Book</h1>
<body>
<p id="notice"></p>
<p>


<%= form_with model:@book, local:true do |book| %>

  <div class="field">
    <%= book.label :title %><br>
    <%= book.text_field :title %>
  </div>

  <div class="field">
    <%= book.label :body %><br>
    <%= book.text_area :body %>
  </div>

  <div class="field">
    <%= book.submit %>
  </div>

<% end %>







<!--<a class="edit_169642" href="/books/169642/edit">Edit</a> |-->

<%= link_to 'show', "/books/#{@book.id}" %>
<a class="back" href="/books">Back</a>
<div id="UMS_TOOLTIP" style="position: absolute; cursor: pointer; z-index: 2147483647; background: transparent; top: -100000px; left: -100000px;">
</div>
</body>